.THIS {
}


.THIS .data-table-item {
    padding: 0.4rem;
}

.THIS .data-table {
    display: flex;
    justify-content: space-between;
}

.THIS .data-link {
    display: block;
}

.THIS .pagination-button {
    border: none;
    background-color: transparent;
}