/* menu bar */

.THIS.menu-container {
    background-color: #DE6449;
    width: 70%;
    min-height: 100vh;
    display: fixed;
    left: 0;
    z-index: 2;
}
    
.THIS .menu-list {
	list-style-type: none;
    padding: 1rem;
    margin: 0;
}
    
.THIS .menu-item {
	border-radius: 8px;	 
}
    
.THIS .menu-item:hover {
    background-color: #AC3920; 
    transition: background-color 0.5s;
}

.THIS .blank-btn {
    border: 0;
    background-color: none;
    padding: 0;
    margin: 0;
}

/* search tool */
.THIS.search-tool {
    top: 0;
    position: fixed;
    min-height: 100vh;
    z-index: 0;
    width: 40vw;
    background-color: #DE6449;
    transition: left 1s;
}

.THIS.is-visible {
    left: 7vw;
    z-index: 1;
    transition: left 1s;
}

.THIS.is-hidden {
    left: -47vw;
    transition: left 1s;
}

.THIS .search-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    color: white;
}

.THIS .menu-bar {
    width: 90%;
    border-radius: 16px;
    border: none;
    outline: none;
}

.THIS .menu-search-item {
    margin-top: 1rem;
    width: 100%;
}

.THIS .search-bar {
    padding: 0.5rem;
}

.THIS .filter-bar {
    
}

/* utility */

.THIS .flex-center-h {
    display: flex;
    justify-content: center;
}

.THIS .w-100 {
    width: 100%;
}